*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.bam filter=lfs diff=lfs merge=lfs -text
*.fq.gz filter=lfs diff=lfs merge=lfs -text
*.fa.gz filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/bin/check-job-alive filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
/docker/STAR/2.7.10a-0/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/docker/bwa/0.7.17-0/Dockerfile filter=lfs diff=lfs merge=lfs -text
/docker/cellranger/1.1.1/Dockerfile filter=lfs diff=lfs merge=lfs -text
/docker/estimate/1.0.0/Dockerfile filter=lfs diff=lfs merge=lfs -text
/docker/kraken2/2.1.2-0/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
/docker/util/1.2.0/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.wdl filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bai filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.wdl !text !filter !merge !diff
*.json !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.txt !text !filter !merge !diff
docker/util/1.2.0/Dockerfile !text !filter !merge !diff
docker/kraken2/2.1.2-0/Dockerfile !text !filter !merge !diff
docker/estimate/1.0.0/Dockerfile !text !filter !merge !diff
docker/cellranger/1.1.1/Dockerfile !text !filter !merge !diff
docker/bwa/0.7.17-0/Dockerfile !text !filter !merge !diff
docker/STAR/2.7.10a-0/Dockerfile !text !filter !merge !diff
bin/check-job-alive !text !filter !merge !diff
*.yml !text !filter !merge !diff
*.md !text !filter !merge !diff
*.gitignore !text !filter !merge !diff
*.py !text !filter !merge !diff
*.pl !text !filter !merge !diff
*.conf !text !filter !merge !diff
