*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.bam filter=lfs diff=lfs merge=lfs -text
*.fq.gz filter=lfs diff=lfs merge=lfs -text
*.fa.gz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bai filter=lfs diff=lfs merge=lfs -text
*.wdl !text !filter !merge !diff
*.json !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.txt !text !filter !merge !diff
bin/check-job-alive !text !filter !merge !diff
*.yml !text !filter !merge !diff
*.md !text !filter !merge !diff
*.gitignore !text !filter !merge !diff
*.py !text !filter !merge !diff
*.pl !text !filter !merge !diff
*.conf !text !filter !merge !diff
.fa filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
