extra_fn_clean_exts:
    - '.ValidateSamFile'
    - '.whole_genome'
    - '.exon'
    - '.CDS'
    - '.MarkDuplicates'
log_filesize_limit: 1000000000
fastqc_config:
  fastqc_theoretical_gc: "hg38_genome"
top_modules:
  - mosdepth:
      name: "mosdepth (whole_genome)"
      path_filters:
        - "*.whole_genome.mosdepth*"
      path_filters_exclude:
        - "*.MarkDuplicates.whole_genome.mosdepth*"
  - mosdepth:
      name: "mosdepth (exon)"
      path_filters:
        - "*.exon.mosdepth*"
      path_filters_exclude:
        - "*.MarkDuplicates.exon.mosdepth*"
  - mosdepth:
      name: "mosdepth (CDS)"
      path_filters:
        - "*.CDS.mosdepth.*"
      path_filters_exclude:
        - "*.MarkDuplicates.CDS.mosdepth*"
  - mosdepth:
      name: "mosdepth (whole_genome, markdups)"
      path_filters:
        - "*.MarkDuplicates.whole_genome.mosdepth*"
  - mosdepth:
      name: "mosdepth (exon, markdups)"
      path_filters:
        - "*.MarkDuplicates.exon.mosdepth*"
  - mosdepth:
      name: "mosdepth (CDS, markdups)"
      path_filters:
        - "*.MarkDuplicates.CDS.mosdepth.*"
custom_data:
  global_PHRED_scores:
    file_format: "tsv"
    section_name: "Global PHRED scores"
    plot_type: "table"
sp:
  global_PHRED_scores:
    fn: "*.global_PHRED_scores.tsv"
