run_modules:
  - mosdepth
  - custom_content
  - ngsderive
  - qualimap
  - picard
  - samtools
  - kraken
  - fastqc
extra_fn_clean_exts:
  - '.ValidateSamFile'
  - '.whole_genome'
  - '.exon'
  - '.CDS'
  - '.MarkDuplicates'
  - '.collated'
  - '.qualimap_rnaseq_results'
  - '.only_mapped_reads'
log_filesize_limit: 1000000000
fastqc_config:
  fastqc_theoretical_gc: "hg38_genome"
top_modules:
  - mosdepth:
      name: "mosdepth (whole_genome)"
      path_filters:
        - "*.whole_genome.mosdepth*"
      path_filters_exclude:
        - "*.MarkDuplicates.whole_genome.mosdepth*"
  - mosdepth:
      name: "mosdepth (exon)"
      path_filters:
        - "*.exon.mosdepth*"
      path_filters_exclude:
        - "*.MarkDuplicates.exon.mosdepth*"
  - mosdepth:
      name: "mosdepth (CDS)"
      path_filters:
        - "*.CDS.mosdepth.*"
      path_filters_exclude:
        - "*.MarkDuplicates.CDS.mosdepth*"
  - mosdepth:
      name: "mosdepth (whole_genome, markdups)"
      path_filters:
        - "*.MarkDuplicates.whole_genome.mosdepth*"
  - mosdepth:
      name: "mosdepth (exon, markdups)"
      path_filters:
        - "*.MarkDuplicates.exon.mosdepth*"
  - mosdepth:
      name: "mosdepth (CDS, markdups)"
      path_filters:
        - "*.MarkDuplicates.CDS.mosdepth.*"
  - kraken:
      name: "kraken2 (only mapped reads)"
      path_filters:
        - "*.only_mapped_reads.kraken2.txt"
  - kraken:
      name: "kraken2 (all reads)"
      path_filters:
        - "*.kraken2.txt"
      path_filters_exclude:
        - "*.only_mapped_reads.kraken2.txt"
custom_data:
  global_PHRED_scores:
    file_format: "tsv"
    section_name: "Global PHRED scores"
    plot_type: "table"
  orig_read_counts:
    file_format: "tsv"
    plot_type: "generalstats"
sp:
  global_PHRED_scores:
    fn: "*.global_PHRED_scores.tsv"
  orig_read_counts:
    fn: "*.orig_read_count.tsv"
  picard/markdups:
    fn: "*.MarkDuplicates.metrics.txt"
  picard/alignment_metrics:
    fn: "*.CollectAlignmentSummaryMetrics.txt"
  picard/basedistributionbycycle:
    skip: true
  picard/gcbias:
    fn: "*.CollectGcBiasMetrics.*"
  picard/hsmetrics:
    skip: true
  picard/insertsize:
    fn: "*.CollectInsertSizeMetrics.txt"
  picard/oxogmetrics:
    skip: true
  picard/pcr_metrics:
    skip: true
  picard/quality_by_cycle:
    skip: true
  picard/quality_score_distribution:
    fn: "*.QualityScoreDistribution.txt"
  picard/quality_yield_metrics:
    skip: true
  picard/rnaseqmetrics:
    skip: true
  picard/rrbs_metrics:
    skip: true
  picard/sam_file_validation:
    fn: "*.ValidateSamFile.txt"
  picard/variant_calling_metrics:
    skip: true
  picard/wgs_metrics:
    skip: true
  kraken:
    fn: "*.kraken2.txt"
  ngsderive/strandedness:
    fn: "*.strandedness.tsv"
  ngsderive/encoding:
    fn: "*.encoding.tsv"
  ngsderive/readlen:
    fn:  "*.readlength.tsv"
  ngsderive/instrument:
    fn: "*.instrument.tsv"
  ngsderive/junction_annotation:
    fn: "*.junction_summary.tsv"
  samtools/flagstat:
    fn: "*.flagstat.txt"
