name: Workflows CD

on:
  push:
    branches:
      - main
      - staging/sprocket-doc

jobs:
  gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          path: workflows
      - name: Update Rust
        run: rustup update stable && rustup default stable
      - name: Build Sprocket
        run: |
          cargo install sprocket --locked --git https://github.com/Serial-ATA/sprocket.git --branch doc-tables
      - name: Build Docs
        run: |
          cd $GITHUB_WORKSPACE/workflows
          sprocket dev doc --homepage assets/DOCS.md --with-doc-comments .
          cp -r assets docs/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./workflows/docs
