name: docker-master

on:
  push:
    branches:
    - 'master'

env:
  REGISTRY: ghcr.io

jobs:
  docker_build_master:
    runs-on: ubuntu-latest
    steps:
    - name: Log in to the Container registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/checkout@v2
    - uses: webfactory/ssh-agent@v0.5.2
      with:
        ssh-private-key: ${{ secrets.STJUDE_SEQERR_READONLY_DEPLOY_KEY }}
    - name: Build and push docker images
      run: |
        shopt -s extglob
        EXITCODE=0
        for dir in docker/conda-base docker/!(conda-base); do
          tool_name=$(basename "$(echo "$dir" | awk '{print tolower($0)}')")
          for tag in "$dir"/*; do
            tag=$(basename "$tag")
            # check tag is SemVer compliant
            if ! [[ $tag =~ ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$ ]]; then
              >&2 echo "Tag subdirectory $tag for tool $dir is not SemVer compliant."
              >&2 echo "This container will not be built."
              EXITCODE=1
            else
              DOCKER_BUILDKIT=1 docker buildx build --push --ssh default -t ghcr.io/stjudecloud/"$tool_name":"$tag" "$dir"/"$tag"
              docker rmi ghcr.io/stjudecloud/"$tool_name":"$tag"
            fi
          done
        done
        exit $EXITCODE