name: docker-branch

on:
  push:
    branches-ignore:
    - 'master'

env:
  REGISTRY: ghcr.io

jobs:
  docker_build_branch:
    runs-on: ubuntu-latest
    steps:
    - name: Log in to the Container registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/checkout@v2
    - uses: webfactory/ssh-agent@v0.5.2
      with:
        ssh-private-key: ${{ secrets.STJUDE_SEQERR_READONLY_DEPLOY_KEY }}
    - name: Build and push docker images
      run: |
        EXITCODE=0
        for dir in docker/*; do
          dir=$(basename "$dir")
          tool_name=$(echo "$dir" | awk '{print tolower($0)}')
          for tag_dir in docker/"$dir"/*; do
            tag_dir=$(basename "$tag_dir")
            # `tag_dir` is now equivalent to the base tag, which will
            # be prefixed by a branch specific name

            # check tag is SemVer compliant
            if ! [[ $tag_dir =~ ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$ ]]; then
              >&2 echo "Tag subdirectory $tag_dir for tool $dir is not SemVer compliant."
              >&2 echo "This container will not be built."
              EXITCODE=1
            else
              tag=branch-${GITHUB_REF##*/}-$tag_dir
              DOCKER_BUILDKIT=1 docker buildx build --push --ssh default -t ghcr.io/stjudecloud/"$tool_name":"$tag" docker/"$dir"/"$tag_dir"
              # docker push ghcr.io/stjudecloud/"$tool_name":"$tag"
              docker rmi ghcr.io/stjudecloud/"$tool_name":"$tag" || echo "rmi failed"
            fi;
          done
        done
        exit $EXITCODE