name: docker-master

on:
  push:
    branches:
    - 'master'

jobs:
  docker_build_master:
    runs-on: ubuntu-latest
    steps:
    - uses: azure/docker-login@v1
      with:
        login-server: https://index.docker.io/v1/
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - uses: actions/checkout@v2
    - name: Build and push docker images
      run: |
        for dir in docker/*; do
          tool_name=$(basename "$(echo "$dir" | awk '{print tolower($0)}')")
          for tag in docker/"$dir"/*; do
            tag=$(basename "$tag")
            # check tag is SemVer compliant
            if ! [[ $tag =~ ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$ ]]; then
              >&2 echo "Tag subdirectory $tag for tool $dir is not SemVer compliant."
              exit 1
            fi;
            docker build -t stjudecloud/"$tool_name":"$tag" docker/"$dir"/"$tag"
            docker push stjudecloud/"$tool_name":"$tag"
          done
        done