name: docker-master

on:
  push:
    branches:
    - 'master'

jobs:
  docker_build_master:
    runs-on: ubuntu-latest
    steps:
    - uses: azure/docker-login@v1
      with:
        login-server: https://index.docker.io/v1/
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - uses: actions/checkout@v2
    - uses: webfactory/ssh-agent@v0.5.2
      with:
        ssh-private-key: ${{ secrets.STJUDE_SEQERR_READONLY_DEPLOY_KEY }}
    - name: Build and push docker images
      run: |
        EXITCODE=0
        for dir in docker/conda-base docker/!(conda-base); do
          tool_name=$(basename "$(echo "$dir" | awk '{print tolower($0)}')")
          for tag in "$dir"/*; do
            tag=$(basename "$tag")
            # check tag is SemVer compliant
            if ! [[ $tag =~ ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$ ]]; then
              >&2 echo "Tag subdirectory $tag for tool $dir is not SemVer compliant."
              >&2 echo "This container will not be built."
              EXITCODE=1
            else
              DOCKER_BUILDKIT=1 docker build --ssh default -t stjudecloud/"$tool_name":"$tag" "$dir"/"$tag"
              docker push stjudecloud/"$tool_name":"$tag"
              docker rmi stjudecloud/"$tool_name":"$tag"
            fi
          done
        done
        exit $EXITCODE