name: lint-check

on: [push]

jobs:
  import_syntax_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check import syntax
      run: |
        files=$(find . -name '*.wdl')
        bad_lines=$(awk '/import/' $files | \
          awk '!/https:\/\/raw.githubusercontent.com\/stjudecloud\/workflows\/master/')
        if [ -n "$bad_lines" ]; then
          echo "$bad_lines"
          exit 1
        fi
  docker_pull_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Ensure SemVer'd docker images are being pulled
      run: |
        files=$(find . -name '*.wdl')
        for file in $files; do
          awk '/docker: /' < "$file" | while IFS= read -r line; do
            tag=$(echo "$line" | awk -F ':' '{print substr($3, 1, length($3)-1)}')
            if ! [[ $tag =~ ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$ ]]; then
              >&2 echo "All Docker containers must be using an official SemVer tagged image"
              >&2 echo "Offending line: $line"
              >&2 echo "In file: $file"
              exit 1
            fi
          done
        done