name: CI

on: [push]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.6'
    - name: Install miniwdl
      run: |
        python -m pip install --upgrade pip
        pip install miniwdl
    - name: Run miniwdl
      run: |
        files=$(find . -name '*.wdl')
        for file in $files; do
          sed -i "s/https:\/\/raw\.githubusercontent\.com\/stjudecloud\/workflows\/master/$(pwd)/g" "$file"
        done
        for file in $files; do
          miniwdl check $file
        done