name: Workflows Miniwdl Check

on: [push]

jobs:
  miniwdl_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.10'
    - name: Install miniwdl
      run: |
        python -m pip install --upgrade pip
        pip install miniwdl
    - name: Run miniwdl
      run: |
        EXITCODE=0
        echo "Checking WDL files using \`miniwdl check\`."
        files=$(find . -name '*.wdl')
        for file in $files; do
          sed -i 's,https://raw.githubusercontent.com/stjudecloud/workflows/'"$(echo ${GITHUB_REF#refs/heads/})"','"$(pwd)"',g' "$file"
          sed -i 's,https://raw.githubusercontent.com/stjudecloud/workflows/master,'"$(pwd)"',g' "$file"
        done
        for file in $files; do
          echo "  [***] $file [***]"
          miniwdl check "$file"
          EXITCODE=$(($? || EXITCODE))
        done
        exit $EXITCODE
