name: pytest-workflow Check

on:
  workflow_call:

jobs:
  list-tags:
    runs-on: ubuntu-latest
    outputs:
        tags: ${{ steps.set-tags.outputs.tags }}
    steps:
        - name: checkout
          uses: actions/checkout@v4
        - name: set tags
          id: set-tags
          run: echo "tags=$(find tests -name '*.yaml' -exec yq --output-format yaml '.[].tags[] ' {} \;| sort | uniq | grep -vE 'deprecated|miniwdl' | jq -ncR '[inputs]')" >> $GITHUB_OUTPUT
  pytest_check:
    needs: list-tags
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: ${{ fromJson(needs.list-tags.outputs.tags) }}
        runner: [sprocket, miniwdl]
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
      with:
        lfs: true
    - name: Update Rust
      run: rustup update stable && rustup default stable
    - name: Build Sprocket
      run: |
        cargo install sprocket --locked
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install miniwdl and pytest-workflow
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
    - name: filter tests
      run: |
        find tests -name '*.yaml' -exec yq --output-format yaml -i 'del(.[] | select(.tags[] | test("reference|deprecated") ) )' {} \;
    - name: Update containers
      run: |
        ./developer_scripts/update_container_tags.sh ${GITHUB_REF##*/}
    - name: Run pytest-workflow
      env: ${{ matrix.runner }}
      run: |
        pytest --git-aware --basetemp /home/runner/work/pytest --symlink --tag ${{ matrix.tag }}
