name: Pytest-Workflows Check

on: [push]

jobs:
  pytest_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        lfs: true
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.10'
    - name: Install miniwdl and pytest-workflow
      run: |
        python -m pip install --upgrade pip
        pip install miniwdl pytest-workflow
    - name: filter tests
      run: | 
        find tests -name '*.yaml' -exec yq --output-format yaml -i 'del(.[] | select(.tags[] | test("reference|deprecated|cellranger") ) )' {} \;
    - name: Run pytest-workflow
      run: |
        df -h
        pytest --version
        miniwdl --version
        pip show pytest-workflow
        python --version
        PYTEST_DEBUG=1 pytest --git-aware --basetemp /home/runner/work/pytest