name: Workflows Sprocket Lint

on: [push]

jobs:
    sprocket_lint:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Set up Rust
          uses: actions-rust-lang/setup-rust-toolchain@v1
          with:
            toolchain: nightly
        - name: Install sprocket
          run: |
            cargo install sprocket
        - name: Run sprocket
          run: |
            EXITCODE=0
            echo "Checking WDL files using \`sprocket lint\`."
            shopt -s extglob
            files=$(find ./!(template) -name '*.wdl')
            for file in $files; do
              echo "  [***] $file [***]"
              # Ignore LineWidth rule _FOR NOW_ because it's broken.
              # Remove `--except LineWidth` when it's fixed.
              sprocket lint "$file" --except LineWidth || EXITCODE=$(($? || EXITCODE))
            done
            exit $EXITCODE